<div class="bm-camera">
  <div class="bm-camera__image-container">
    <video class="bm-camera__video"
            autoplay
            width="{{$ctrl.width}}"
            height="{{$ctrl.height}}"
            ng-show="$ctrl.isCameraOpen"
            width="{{$ctrl.width}}"
            height="{{$ctrl.height}}"></video>
    <img ng-src="{{$ctrl.ngModel.$viewValue}}"
          camera-target
          width="{{$ctrl.thumbWidth}}"
          height="{{$ctrl.thumbHeight}}"
          ng-show="$ctrl.ngModel.$viewValue"
          class="bm-camera__image ng-hide" />
    <!-- allows the developer to include their own image manipulation controls -->
    <div ng-transclude></div>
  </div>
  <div class="bm-camera__selector-container"
       ng-show="$ctrl.camera.availableDevices.length > 1">
    <select class="bm-camera__selector"
            ng-model="$ctrl.selectedDevice"
            ng-options="device.label for device in $ctrl.camera.availableDevices"
            ng-change="$ctrl.useDevice()">

    </select>
  </div>
  <div ng-if="$ctrl.webRTC"
        class="bm-camera__button-container">
    <button class="bm-button bm-button__open"
            name="open-camera"
            ng-click="$ctrl.openCamera()"
            ng-hide="$ctrl.isCameraOpen">Open Camera</button>
    <button class="bm-button bm-button__close ng-hide"
            name="close-camera"
            ng-click="$ctrl.closeCamera()"
            ng-show="$ctrl.isCameraOpen">Close Camera</button>
    <button class="bm-button bm-button__take-photo"
            name="take-photo"
            ng-click="$ctrl.takePhoto()"
            ng-show="$ctrl.isCameraOpen">Take Photo</button>
    <button class="bm-button bm-button__clear-photo"
            name="take-photo"
            ng-click="$ctrl.clearImage()"
            ng-show="$ctrl.ngModel.$viewValue">Clear</button>

    <div class="bm-error"
          ng-show="$ctrl.error">
      <p class="bm-error__text">{{::$ctrl.error}}</p>
    </div>
  </div>
  <div ng-if="!$ctrl.webRTC"
        class="bm-camera__button-container">
    <button class="bm-button bm-button__take-photo"
            name="open-camera"
            ng-click="$ctrl.takePhoto()">Take Photo</button>
    <button class="bm-button bm-button__clear-photo"
            name="take-photo"
            ng-click="$ctrl.clearImage()"
            ng-show="$ctrl.ngModel.$viewValue">Clear</button>
  </div>
</div>
